*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*ESTILOS GENERALES EN TODAS LAS SECCIONES*/
/* Navegación */
ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 1rem;   
}

ul li a{
    text-decoration:none;
    font-family: 'Vidaloka', serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem;
}


/* p, hr */
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;

}

hr{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0rem;
    color: #95997f;
}

/*Footer*/  
footer{                          
    background-color: #b67162;
    color: #fff;
    height: 30rem;
    display: flex;
}

/* CONTACTOS*/

/*Formulario:contactos*/
    form legend{
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }

    div label{
        margin-bottom: 1rem;
    }

    div input{
        margin-bottom: 1rem;
        border: none;
        background-color:#f5efec;
        font-family: Arial, Helvetica, sans-serif;
    }

    div textarea{
        margin-bottom: 1rem;
        border: none;
        background-color:#f5efec;
        font-family: Arial, Helvetica, sans-serif;
        width: 30rem;
    }
    textArea:hover{
        background-color: #e5ddd2;
    }

/* CLASES GENERALES DE TODAS LAS SECCIONES */

/* Header de todas las secciones*/

.tamañoLogo{
    width: 18rem;
    height: 8rem;
}
.navbar-brand {
    margin-left: 2rem;
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.navLink{
    transition: 1s;
    color: #415247;
}

/* Footer de todas las secciones*/
.divFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.iconos{
    margin-right: 0.5rem;
}

.logoIg{
    font-size: 1.5rem;
    color: #fff;
}

/* Colores, tipografías, párrafos en secciones*/
.verdeOscuro {
    color: #415247;
}

.colorRosaClaro{
    color: #b67162;
}

.colorNegro{
    color: #000;
}

.seccionesP{
    width: 30rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* h1 de quienSoy, recetarios, consultorio y contacto */
.subtitulo{
    font-family: 'Vidaloka', serif; 
    color: #95997f;
    padding: 1rem;
    text-transform:uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.fondo{
    background-color: #f5efec;
}


/*CLASES POR SECCIONES*/

/*INDEX*/
/* Sección principal */
.divTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    font-family: 'Vidaloka', serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #95997f;
    text-align: center;
    margin-right: 2rem;
    line-height: 6rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.pPrincipal{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

.imgPrincipal{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

 /*Toda la sección de servicios*/
.section{ 
    display: flex;
    justify-content: center;
    background-color: #f5efec;
}

/* Servicios */
/* Servicios 1 */
 .servicios{
    display: flex;
    align-items: center;
    justify-content: center;
} 
  /*contiene a título y párrafo*/ 
.serviciosP{    
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.consultas{
    font-family: 'Vidaloka', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
    color: #95997f;
    margin-bottom: 1rem;
}

.turnos{
    text-decoration:none;
    font-family: 'Vidaloka', serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #b67162;
    padding: 0.5rem;
    transition: 1s;
}

.turnos:hover{
    color: #fff;
    background-color: #415247;
}

.img1{
    width: 40rem;
    height: 40rem;
}

/* Servicios 2 */
 .servicios2{
    margin-bottom: 8rem;
} 

.img2{
    width: 40rem;
    height: 40rem;
}

/*QUIEN SOY*/
.quienSoy{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.quienSoy2{
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
}

.imgQuienSoy{
    height: 45rem;
    width: 40rem;
    margin-bottom: 15rem;
}

/*CONSULTORIO*/
.imgConsultorio{
    width: 45rem;
    height: 45rem;
}

.consultorio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.consultasP{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtituloC{
    font-family: 'Vidaloka', serif;
    color: #415247;
    padding: 1rem;
    text-transform:uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.consultorioP{
    width: 34rem;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
}

.solicitud{
    text-decoration:none;
    font-family: 'Vidaloka', serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #b67162;
    padding: 0.5rem;
    margin-top: 3rem;
    transition: 1s;
}

.solicitud:hover{
    background-color: #415247;
}

.preguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.preguntas1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.preguntas2{
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 2rem;
}

.preguntasT{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.preguntasP{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
}

.subtituloD{
    font-family: 'Vidaloka', serif;
    color: #415247;
    padding: 1rem;
    text-transform:uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.dudas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dudasP{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
    width: 35rem;
    text-align: center;
    margin-bottom: 2rem;
}

.instagram{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.instagram:hover{
    color: #415247;
}

.dudasB{
    text-decoration:none;
    font-family: 'Vidaloka', serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #b67162;
    padding: 0.5rem;
    transition: 1s;
    margin-bottom: 10rem;
}

.dudasB:hover{
    background-color: #415247;
    color: #e5ddd2;
}

.dudasB2{
    text-decoration: none;
}

/*RECETARIOS*/
/* Primera parte */
.ebooks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.ebooksP{
    font-family: Arial, Helvetica, sans-serif;
    width: 30rem;
}
/* Recetarios */
.recetarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recetarios1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.ebookT{
    font-family: 'Vidaloka', serif;
    font-size: 1.6rem;
    color: #415247;
    margin-top: 1rem;
}

.tamañoImagen{
    height: 25rem;
    width: 25rem;
}

/* Listas de compras */
.compras{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comprasP{
    font-family: Arial, Helvetica, sans-serif;
    width: 35rem;
    text-align: center;
}

.listas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 15rem;
}

.listasP{
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    text-align: center;
}

/* CONTACTOS */
/* Main contacto */
.contacto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    justify-content: center;
}

.contacto{
    display: flex;
    justify-content: center;
}

/*Formulario*/
.divForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 45rem;
    height: 47rem;
    margin-bottom: 10rem;
    color: #415247;
    font-family: Arial, Helvetica, sans-serif;
}

.divItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nombre{
    width: 30rem;
    height: 3rem;
}

.nombre:hover{
    background-color: #f5efec;
}

.newsLetter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkBox{
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.boton{
    background-color: #b67162;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    margin: 1rem;
}

.boton:hover{
    background-color: #415247;
 } 


/*RESPONSIVE*/

@media only screen and (max-width: 320px) {

    /* Navegacion */
    
    
    /* Main */
    main{
        width: 40rem;
    }

    /* Footer */
    footer{
        width: 40rem;
    }

    /* INDEX */
    /* Seccón principal */
    .divTitulo{
        margin-left: 3.2rem;
    }
    .titulo{
        font-size: 3.3rem;
        margin-bottom: 1rem;
    }
    .pPrincipal{
        font-size: 1rem;
    }

    .imgPrincipal{
        width: 31.5rem;
    }
    
    /* Servicios */
    .section{
        width: 40rem;
    }
     .img1{
        width: 25rem;
        height: 25rem;
        margin-left: -0.5rem;
    }
    .img2{
        width: 25rem;
        height: 25rem;
        margin-left: 3.9rem;
    }
    
    .servicios2Mq{
        display: flex;
        flex-direction: column-reverse;
    }
  
    /* QUIEN SOY */
    .quienSoy{
        width: 37.5rem;
    }
 
    .imgQuienSoy{
        height: 40rem;
        width: 35rem;
        margin-left: 4.5rem;
 }
    .quienSoy2{
        margin-left: 4rem;
 }
    

    /* CONSULTORIO */
    .mainC{
        width: 46rem;
    }

    .consultorio{
        width: 40rem;
    }

    .consultorioP{
        margin-top: 2rem;
    }
    
    .consultasP{
        margin-left: 4rem;
    }
    
    .imgConsultorio{
        margin-left: 5rem;
    }

    .preguntas1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer{
        width: 50rem;
    }
    
    /* RECETARIOS */
    .recetarios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .recetarios1{
        width: 35rem;
    }

    .seccionesP{
        margin-top: 2rem;
    }


    .tamañoImagen{
        height: 30rem;
        width: 35rem;
    }

    /* Listas de compras */
    .listas{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 15rem;
    }

    /* CONTACTO */
    @media only screen and (max-width: 320px){
        .mainC{
            width: 40rem;
        }
    
        .contacto{
            width: 40rem;
        }
    }
}
	
	
@media only screen and (max-width: 768px) {
    /* INDEX */
    /* Sección principal */
    .titulo{
        margin-top: 2rem;
    }
    .imgPrincipal{
            margin-bottom: 5rem;
            margin-left: 3.3rem;
        }

    /* Servicios */
    #servicios{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30rem;
        text-align: center;
    }

    .servicios2Mq{
        display: flex;
        flex-direction: column-reverse;
    }

    /* QUIEN SOY */
    .quienSoy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 4rem;
        margin-bottom: 2rem;
    }

    .imgQuienSoy{
        margin-bottom: 2rem;
    }

    /* CONSULTORIO */
    .consultorio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 4rem;
        margin-bottom: 8rem;
    }
   
    .consultorioP{
        margin-top: 2rem;
        }

    .consultasP{
        margin-right: 2rem;
        }
        
    .imgConsultorio{
        width: 40rem;
        height: 40rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .preguntas1{
        width: 45rem;
        margin-left: 1rem;
    }

    .footer{
        width: 50rem;
    }
    
    

    /* RECETARIOS */
    /* Main */
    .mainR{
        width: 50rem;
    }
    /* Primera parte */
    .ebooks{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}

    .recetarios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .recetarios1{
        width: 35rem;
        margin-left: 6.2rem;
    }

    .seccionesP{
        margin-top: 2rem;
    }


    .tamañoImagen{
        height: 30rem;
        width: 35rem;
    }

    /* Listas de compras */
    .listas{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 15rem;
    }

    /* CONTACTO */

    .mainC{
        width: 50rem;
    }

    .contacto{
        width: 50rem;
    }
}
	
