
// VARIABLES

// Colores
$color-rosa:#b67162;
$color-verde: #95997f;
$color-blanco: #fff;
$color-negro: #000;
$color-lilaClaro: #f5efec;
$color-lilaOscuro: #e5ddd2;

// Tipografías
$tipografia:'Vidaloka', serif;
$tipografiaP: Arial, Helvetica, sans-serif;



// Otros
$ancho: 40rem; 
